<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  </head>

  <body>
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <%= error %>
      <% end %>
    <% end %>
    <% if @user %>
      <%= @user.email %>
      <form method="post" action="/sessions">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="sign out">
      </form>
    <% end %>
    <%= yield %>
  </body>
</html>
